body{
    background-color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    font-family: pingfang sc light;
}
h1, h4{
    color: black;
}
h4{
    padding-left: 35px;
}
span{
    color: #5d626e;
    font-weight: normal;
}
.l-container{
    max-width: 980px;
    margin:0 auto;
}
.argument{
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    padding:50px 0;
}
.justtitle{
    width: 100%;
    text-align: center;
}
.addNum{
    padding-left: 80%;
}
.debtor{
    width: 48%;
    display: inline-block;
    border-right: 1px solid black;
    line-height: 30px;
    padding-left: 15px;
}
.delejia{
    font-weight: bold;
}
.service{
    display: inline-block;
    width: 48%;
    padding-left: 15px;
    vertical-align: top;
    line-height: 40px;
}
.deleyi{
    font-weight: bold;
}
.voite{
    padding: 17px;
}
.intrute{
    text-indent: 35px;
}
.intrute1{
    text-indent: 35px;
    text-decoration: underline;
}
.teindent{
    padding: 0 30px;
    border-bottom:1px solid gray;
}

.inform{
    padding-left:35px;
    padding-bottom: 35px;
}
.tenex{
    padding-left:35px;
}
.hurn{
    padding:30px 0;
}
.tenex1{
    padding-bottom: 30px;
}
.ls-lr{
    height:30px;
}
.context{
    padding-left: 35px;
    color: black;
    line-height: 40px;
}
.moend{
    float: right;
}
.bato{
    font-size: 16px;
    color: black;
    padding-left: 35px;
    font-weight: bold;
}
.unindent{
    color: black;
    font-weight: bold;
}
.borwtb{
    border-collapse: collapse;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 35px;
}
td{
    border:1px solid black;
    height:30px;
}
.utiled{
    width:35px;
    text-align: center;

}
.meName{
    width:70px ;
}
.unborder{
    border-left: none;
    border-right: none;
}
.underliner{
    border-left:none;
}
.statb{
    border-collapse: collapse;
    margin-left: 35px;

}
.stages{
    width:100px;
    height:30px;
    border:1px solid black;
    text-align: center;
}
.colidtb{
    height: 50px;
    border-collapse: collapse;
    margin-left: 35px;

}
.colid{
    width:250px;
    height: 50px;
    padding-left: 10px;
}
.justify{
    width:450px;
}